<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPowerNapService" />
        <binding name="BasicHttpsBinding_IPowerNapService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://jwapowernapservice.azurewebsites.net/PowerNapService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPowerNapService"
          contract="Powernap.IPowerNapService" name="BasicHttpBinding_IPowerNapService" />
    </client>
  </system.serviceModel>
</configuration>